@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap');

:root {
    --main-bg-color: black;
    --main-text-color: 255, 255, 255;
    --main-emphasis-color: #FFD046;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'DM Sans', sans-serif;
}

a {
    color: rgb(var(--main-text-color));
    text-decoration: underline;
    text-decoration-color: rgb(var(--main-text-color));
}

a:visited {
    color: rgb(var(--main-text-color));
}

a:hover {
    color: rgba(var(--main-text-color), 0);
    text-decoration: overline;
    text-decoration-color: rgb(var(--main-text-color));
}

.container {
    display: grid;
    grid-template-columns: auto 4em 4em 4em 4em 30em auto;
    grid-template-rows: 30vh 20vh 50vh;
    margin: auto;
}

.element {
    align-self: flex-end;
    margin: 0 auto;
}

.element {
    color: rgb(var(--main-text-color));
    font-weight: bold;
    font-size: 3.4em;
}

/* GRID POSITIONS */
.container > #g { grid-row-start: 2; grid-column-start: 2; }
.container > #l { grid-row-start: 2; grid-column-start: 3; }
.container > #e { grid-row-start: 2; grid-column-start: 4; }
.container > #n { grid-row-start: 2; grid-column-start: 5; }
.container > .ithub { grid-row-start: 3; grid-column-start: 2; }
.container > .inkedin { grid-row-start: 3; grid-column-start: 3; }
.container > .mail { grid-row-start: 3; grid-column-start: 4; }
.container > .surname {grid-row-start: 2; grid-column-start: 6;}

.container > .surname {
    color: var(--main-emphasis-color);
}

.upright{
    writing-mode: vertical-lr;
    text-orientation: unset;
    align-self: flex-start;
    font-size: 2em;
    display: none;
    color: var(--main-emphasis-color);
    margin-top: -50px;
    z-index: -1;
}

#g:hover ~ .ithub {
    display: flex;
    animation-duration: 0.4s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}
  
#l:hover ~ .inkedin {
    display: flex;
    animation-duration: 0.4s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}

#e:hover ~ .mail {
    display: flex;
    animation-duration: 0.4s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    from {
        margin-left: 25%;
        width: 125%;
        color: var(--main-bg-color);
    }

    to {
        margin-left: 0%;
        width: 100%;
        color: var(--main-emphasis-color);
    }
}
