@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap');

:root {
    --transition-time: 1;
    --bg-color-light: white;
    --bg-color-dark: black;
}

body {
    font-family: 'DM Sans', sans-serif;
    color: white;
}

.bg-white {
    background-color: var(--bg-color-light);
}

.bg-black {
    background-color: var(--bg-color-dark);
}

ul {
    font-size: 1em;
    margin-top: 100px;
    list-style: none;
}

li {
    margin: 10px 0;
}

.flex-lists {
    display: flex;
    justify-content: space-around;
}

.flex-list{

}


.flex-container-main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin-top: 15%;
}

.flex-container-first {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-container-last {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.letter {
    font-size: 6em;
}

#overlay {
    position: relative;
    margin-top: 10px;
}

#moon {
    position: absolute;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

#sun {
    position: relative;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

.sun-set {
    clip-path: circle(20% at 0 100%);
}

.sun-risen {
    clip-path: circle(130% at 0 100%);
}

.anim-sun-rise {
    animation-timing-function: ease-in-out;
    animation-name: sun-rise;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.anim-sun-set {
    animation-timing-function: ease-in-out;
    animation-name: sun-rise;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}

@keyframes sun-rise {
    from {
        clip-path: circle(20% at 0 100%);
    }
    to {
        clip-path: circle(130.0% at 0 100%);
    }
}

#big-sun {
    z-index: -100;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.anim-big-sun-rise {
    background: linear-gradient(-45deg, var(--bg-color-dark), var(--bg-color-dark), var(--bg-color-light), var(--bg-color-light));
    background-size: 400% 400%;
    animation: gradient 1s ease;
    animation-direction: reverse;
}

.anim-big-sun-set {
    background: linear-gradient(-45deg, var(--bg-color-dark), var(--bg-color-dark), var(--bg-color-light), var(--bg-color-light));
    background-size: 400% 400%;
    animation: gradient 1s ease;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}